.mainInboxDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondInboxDiv {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.inboxTitle {
    font-family: 'Russo One', sans-serif;
    display: flex;
    align-items: center;
}

.inboxTitle h1 {
    letter-spacing: 1px;
}

.inboxSection {
    border-radius: 25px;
    background-color: #00B4D8;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    border: 3px solid black;
    width: 100%;
    height: 500px;
}

.massagesLeftDiv {
    margin-left: 10px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
}

.massagesRightDiv {
    border-left: 3px solid white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 100%;
    width: 22%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #03045E;
}



.inboxMsg button {
    width: 95%;
    margin-top: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    border-radius: 25px;
    padding: 5px;
}

.inboxMsg button:hover {
    background-color: #00B4D8;
}

