.mainRegisterDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondRegisterDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border: 6px solid #CAF0F8;
    border-radius: 25px;
    width: 25%;
    background-color: #03045E;
}

.registerLogo {
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: #00B4D8;
    width: fit-content;
}

.titleRegister h1 {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
    color: #00B4D8;
}

.userDetailsRegister input {
    margin-bottom: 5px;
    font-size: 20px;
    width: 350px;
    height: 32px;
    border-radius: 15px;
    outline: none;
    text-indent: 5px;
}
.userDetailsRegister label {
    color: #00B4D8;
    font-weight: bold;
}

.genderSelect {
    width: 350px;
    height: 32px;
    margin-bottom: 6px;
    font-size: 20px;
    border-radius: 15px;
    outline: none;
}

#birthday {
    width: 280px;
}

.registerButton button {
    margin: 6px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Russo One', sans-serif;
    border-radius: 25px;
    padding: 10px;
    background-color: #CAF0F8;
    color: #03045E;
    transition: 0.5s ease-in-out background-color;
}

.registerButton button:hover {
    background-color: #00B4D8;
}

.errorsDiv {
    color: red;
    font-weight: bold;
    font-size: 14px;
}